
<div  class="text-center pt-5">
  <h4>Bienvenue sur Peoples Stats ! </h4>
  <p>Peoples stats est une startup vous permettant de réaliser des statistiques en fonctions du nombres d'utilisateurs !</p>
  <p>Comme par exemple le nombres de femmes et d'hommes actuellement présent dans la bdd de l'entreprise ou bien le nombres d'utilisateurs présents dans un pays !</p>
</div>
<div class="text-center pt-3">
  <h6>N'attendez plus et rendez-vous sur notre dashboard !</h6>
  <a routerLink="/dashboard" routerLinkActive="active">Cliquez ici pour vous rendre sur le dashboard</a>
</div>
